extends layout-1
block content
  body  
    .container
        .row
            .col-lg-12
              h1.page-header
                | About 
                small It's Nice to Meet You!
              //ol.breadcrumb
                li
                  a(href='index.html') Home
                li.active About
          .row
            .col-md-6
              img.img-responsive(src='http://placehold.it/750x450')
            .col-md-6
              h2 Welcome to 'Modern Business'
              p
                | This is a great place to introduce your company or project and describe what you do. This about page features general company information, employee bios, and other helpful elements.
              p
                | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          .row
            .col-lg-12
              h2.page-header Our Team
            each person, p in com.about.people
              .col-sm-4
                img.img-responsive(src='http://placehold.it/750x450')
                h3 #{person.name} 
                  small #{person.job}
                p= person.jobDesc
                ul.list-unstyled.list-inline.list-social-icons
                  li.tooltip-social.facebook-link
                    a(href='#facebook-profile', data-toggle='tooltip', data-placement='top', title='Facebook')
                      i.fa.fa-facebook-square.fa-2x
                  li.tooltip-social.linkedin-link
                    a(href='#linkedin-profile', data-toggle='tooltip', data-placement='top', title='LinkedIn')
                      i.fa.fa-linkedin-square.fa-2x
                  li.tooltip-social.twitter-link
                    a(href='#twitter-profile', data-toggle='tooltip', data-placement='top', title='Twitter')
                      i.fa.fa-twitter-square.fa-2x
                  li.tooltip-social.google-plus-link
                    a(href='#google-plus-profile', data-toggle='tooltip', data-placement='top', title='Google+')
                      i.fa.fa-google-plus-square.fa-2x
          .row
            .col-lg-12
              h2.page-header Our Customers
            .col-md-2.col-sm-4.col-xs-6
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
            .col-md-2.col-sm-4.col-xs-6
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
            .col-md-2.col-sm-4.col-xs-6
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
            .col-md-2.col-sm-4.col-xs-6
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
            .col-md-2.col-sm-4.col-xs-6
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
            .col-md-2.col-sm-4.col-xs-6
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
        .container
          hr
          footer
            .row
              .col-lg-12
                p Copyright © Company 2013
    