html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title=title
    //
       Bootstrap core CSS 
    link(href='css/bootstrap.css', rel='stylesheet')
    //
       Add custom CSS here 
    link(href='css/sb-admin.css', rel='stylesheet')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
  each com, c in index
    body
      #wrapper
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation') 
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand= com.company
          .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav.side-nav
              li
                a(href='index.html')
                  i.fa.fa-dashboard
                  | Dashboard
            ul.nav.navbar-nav.navbar-right.navbar-user
              li.dropdown.messages-dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-envelope
                  |  Messages 
                  span.badge 7
                  b.caret
                ul.dropdown-menu
                  li.dropdown-header 7 New Messages
                  li.message-preview
                    a(href='#')
                      span.avatar
                        img(src='http://placehold.it/50x50')
                      span.name John Smith:
                      span.message Hey there, I wanted to ask you something...
                      span.time
                        i.fa.fa-clock-o
                        | 4:34 PM
                  li.divider
                  li.message-preview
                    a(href='#')
                      span.avatar
                        img(src='http://placehold.it/50x50')
                      span.name John Smith:
                      span.message Hey there, I wanted to ask you something...
                      span.time
                        i.fa.fa-clock-o
                        | 4:34 PM
                  li.divider
                  li.message-preview
                    a(href='#')
                      span.avatar
                        img(src='http://placehold.it/50x50')
                      span.name John Smith:
                      span.message Hey there, I wanted to ask you something...
                      span.time
                        i.fa.fa-clock-o
                        | 4:34 PM
                  li.divider
                  li
                    a(href='#')
                      | View Inbox
                      span.badge 7
              li.dropdown.alerts-dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-bell
                  |  Alerts 
                  span.badge 3
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      | Default 
                      span.label.label-default Default
              li.dropdown.user-dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-user
                  | 
                  |#{com.company}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      i.fa.fa-user
                      |  Profile
                  li
                    a(href='#')
                      i.fa.fa-envelope
                      |  Inbox
                      span.badge 7
                  li
                    a(href='#')
                      i.fa.fa-gear
                      |  Settings
                  li.divider
                  li
                    a(href='#')
                      i.fa.fa-power-off
                      |  Log Out
        #page-wrapper
          .row
            .col-lg-12
              h1
                | Administration
              form#formAddUser(name="adduser",method="post",action="/adduser")
                input#inputUserName(type="text", placeholder="company name", name="company")
                input#inputUserEmail(type="text", placeholder="user email", name="useremail")
                input#inputAbout(type="checkbox" name="aboutcheck") About
                button#btnSubmit(type="submit") submit
                //small A Blank Slate
              //ol.breadcrumb
                li
                  a(href='index.html')
                    i.icon-dashboard
                    | Dashboard
                li.active
                  i.icon-file-alt
                  | Blank Page
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(src='js/bootstrap.js')
