!!! 5
html
  head
    title Business Template
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Styles
    link(href='/css/cleanCanvas/bootstrap.min.css', rel='stylesheet')
    link(href='/css/cleanCanvas/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/cleanCanvas/bootstrap-overrides.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/css/cleanCanvas/theme.css')
    link(rel='stylesheet', href='/css/cleanCanvas/index.css', type='text/css', media='screen')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='/css/cleanCanvas/lib/animate.css', media='screen, projection')
    //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body.pull_top
    .navbar.transparent.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/')
            strong CLEAN CANVAS
          .nav-collapse.collapse
            ul.nav.pull-right
              li
                a.active(href='/') HOME
              if com.navAbout
                li
                  a(href='/about') ABOUT
              if com.navServices
                li
                  a(href='/services') SERVICES
              if com.navContact
                li
                  a(href='/contact') CONTACT
              if com.navPortfolio
                li
                  a(href='/portfolio') PORTFOLIO
              if com.navBlog
                li
                  a(href='/blog') BLOG
    block content
    footer#footer
      .container
        .row.sections
          .span4.recent_posts
            h3.footer_header
              | Recent Posts
            .post
              a(href='blogpost.html')
                img.img-circle(src='img/recent_post1.png')
              .date
                | Wed, 12 Dec
              a.title(href='blogpost.html')
                | Randomised words which don't look embarrasing hidden.
            .post
              a(href='blogpost.html')
                img.img-circle(src='img/recent_post2.png')
              .date
                | Mon, 12 Dec
              a.title(href='blogpost.html')
                | Randomised words which don't look embarrasing hidden.
          .span4.testimonials
            h3.footer_header
              | Testimonials
            .wrapper
              .quote
                span “
                | There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                span
              .author
                img(src='img/user-display.png')
                .name Alejandra Galvan Castillo
                .info
                  | Details Canvas  
          .span4.contact
            h3.footer_header
              | Contact
            form(action='#', method='post')
              input(type='text', placeholder='Your name')
              input(type='text', placeholder='Your email')
              textarea(rows='3', placeholder='Message')
              input(type='submit', value='Send')
        .row.credits
          .span12
            .row.social
              .span12
                a.facebook(href='#')
                  span.socialicons.ico1
                  span.socialicons_h.ico1h
                a.twitter(href='#')
                  span.socialicons.ico2
                  span.socialicons_h.ico2h
                a.gplus(href='#')
                  span.socialicons.ico3
                  span.socialicons_h.ico3h
                a.flickr(href='#')
                  span.socialicons.ico4
                  span.socialicons_h.ico4h
                a.pinterest(href='#')
                  span.socialicons.ico5
                  span.socialicons_h.ico5h
                a.dribble(href='#')
                  span.socialicons.ico6
                  span.socialicons_h.ico6h
                a.behance(href='#')
                  span.socialicons.ico7
                  span.socialicons_h.ico7h
            .row.copyright
              .span12
                | 2013 Clean Canvas. All rights reserved. Theme by Detail Canvas.
    // Scripts
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='js/cleanCanvas/bootstrap.min.js')
    script(src='js/cleanCanvas/theme.js')
    script(type='text/javascript', src='js/cleanCanvas/index-slider.js')
    script(type='text/javascript', src='js/cleanCanvas/flexslider.js')
