doctype 5
html
  head
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/carousel.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
    script(src='/js/jquery.sticky.js')
    script(src='/js/mexin-custom.js')
    script(src='/js/index-browserify.js')
  body
    #wrap.colorskin-1
        .top-bar
            .container
            .top-links
                i.icomoon-mail
                a(href='mailto:php12@case.edu') php12@case.edu
                | |
                i.icomoon-print
                a(href='https://www.dropbox.com/s/8f1dbu9sruii8zk/PrescottPrueResume.pdf') Print Version
                | |
                i.icomoon-phone
            .socailfollow
                a.google(href='https://plus.google.com/u/1/')
                i.icomoon-google
                a.twitter(href='#')
                i.icomoon-twitter
          //
            Social Follow - End 
        //
          Container - End 
      //
        Top Bar - End 
      #sticker-sticky-wrapper.sticky-wrapper(style='height: 83px;')
        #sticker(style='')
          header#header
            .container
              .four.columns.logo
                a(href='/') Maritime Autowash
              nav#nav-wrap.nav-wrap1.twelve.columns
                #menu-icon
                  i.icomoon-menu-6
                  | Menu -
                  span.mn-clk Navigation
                #search-form
                  form(action='#', method='get')
                    input#search-box.search-text-box(type='text', style='width: 1px; color: transparent;')
                ul#nav
                  li.current
                    a(href='/') Home
                  li
                    a(href='') Services
                    ul
                      li
                        a(href='kyper') Kyper
                    //
                      End of portfolio 
                    li
                      a(href='about') About
              //nav-wrap 
            #search-form2
              form(action='#', method='get')
                input.search-text-box2(type='text')
          //end-header 

    block content