doctype 5
html
  head
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/carousel.css')
    link(rel='stylesheet', href='/css/user.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
  body
    .navbar-wrapper
        .container
          .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                title big bear
                a.navbar-brand(href='#')= asdf
              .navbar-collapse.collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#') Home
                  li
                    a(href='#about') About
                  li
                    a(href='./index') Contact
                  li.dropdown
      block content