extends modBuisLayout
block content  
  body
    .container
      .row
        .col-lg-12
          h1.page-header
            | Three Column Portfolio
            small  Showcase Your Work
      - var p = -3;
      while p <= com.portfolio.length
        - p += 3;
        .row
          each project in com.portfolio.slice(p, p+3)
            .col-md-4.portfolio-item
              a(href='/portfolio/'+project._id)
                img.img-responsive(src='https://s3.amazonaws.com/KyperImageHost/52a734cc5ce1a3331d000008/site/#{project.csrf}#{project.contentType}')
              h3
                a(href='/portfolio/'+project._id)=project.title
              p=project.description
      hr
      .row.text-center
        .col-lg-12
          ul.pagination
            li
              a(href='#') «
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') »
  