extends modBuisLayout
block content  
  body
    .container
      .row
        .col-lg-12
          h1.page-header
            | Single Portfolio Item
            small Explain Your Work
        .row
          each project in com.portfolio.slice(p)
            .col-md-8
              img.img-responsive(src='https://s3.amazonaws.com/KyperImageHost/#{site}/site/#{project.csrf}#{project.contentType}')
            .col-md-4
              h3 Project Description
              p In Depth Project Description
              h3 Project Details
              ul
                li Lorem Ipsum
                li Dolor Sit Amet
                li Consectetur
                li Adipiscing Elit
        .row
          .col-lg-12
            h3.page-header Related Projects
          .col-sm-3.col-xs-6
            a(href='#')
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
          .col-sm-3.col-xs-6
            a(href='#')
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
          .col-sm-3.col-xs-6
            a(href='#')
              img.img-responsive.img-customer(src='http://placehold.it/500x300')
          .col-sm-3.col-xs-6
            a(href='#')
              img.img-responsive.img-customer(src='http://placehold.it/500x300')